---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img src="/assets/about-illustration.webp" alt="Illustration of a notebook" width="330">
    </figure>
   
    <p>CompiledThoughts.dev is a blog for developers who value clarity over clickbait.</p>
    <p>Every post gets straight to the point, breaking down challenges and solutions in a practical, no-nonsense format. Whether it's a tricky bug, a system design tradeoff, or an unexpected lesson from debugging, you’ll find honest insights from the trenches of software building.</p>
    <p>This blog is for developers who’ve been there, who are still there, or who are just starting out—and want honest, clear-headed content to help them move forward.</p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
