<div>
  <img src="/assets/logov5.png" alt="Logo">
  <p>
   Compiled thoughts and ideas from the web. I am a software engineer with a passion for building things that make life easier. I love to learn and share knowledge with others. I am currently working on my personal blog, where I write about technology, programming, and other topics that interest me.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
